
@{
    ViewData["Title"] = "Asset Type Editor";
    Layout = "_Content";
    @model IModel;
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Asset Type Creator
            </div>
            <div class="panel-body">
                <div id="app">
                </div>
                <noscript>
                    Javacript Required to run the Asset Type Editor.
                </noscript>
                <div class="btn-group">
                    <button id="addAttributeButton" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
                        Add Attribute
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" onclick="maker.AddAttribute(AttributeType.IntegerAttribute)">Integer</a></li>
                        <li><a href="#" onclick="maker.AddAttribute(AttributeType.StringAttribute)">String</a></li>
                    </ul>
                </div>
                <hr />
                <div class="form-group">
                    <label>Enter Asset Type Name:</label>
                    <input class="form-control" type="text" id="AssetTypeNameTextbox" />
                    <div id="AssetTypeNameTextBoxError"></div>
                </div>
                <div class="form-group">
                    <label>Database to add to:</label>
                    <select class="form-control" id="databaseSelector">
                        @foreach ( KeyValuePair<Guid, string> dbName in Model.Api.DataBase.DatabaseNames )
                        {
                            <option value="@dbName.Key.ToString()">@dbName.Value</option>
                        }
                    </select>
                </div>
                <div class="btn-group">
                    <button id="addAssetButton" class="btn btn-success" type="button" onclick="maker.Submit()">Add Asset</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/static/compiled_ts/AssetTypeMaker.js"></script>
    <script>
        let maker = new AssetTypeMaker();
        maker.AddAttribute(AttributeType.AssetNameAttribute);
    </script>
}
