<!DOCTYPE html>

<html>
<head>
    <meta content="en-us" http-equiv="Content-Language" />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>@ViewData["Title"]</title>

    <!-- #### CSS #### -->
    <!-- BOOTSTRAP STYLES-->
    <link href="/static/css/bootstrap.css" rel="stylesheet" />

    <!-- FONTAWESOME STYLES-->
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" />

    <!--CUSTOM BASIC STYLES-->
    <link href="/static/css/basic.css" rel="stylesheet" />

    <!--CUSTOM MAIN STYLES-->
    <link href="/static/css/custom.css" rel="stylesheet" />

    <!-- GOOGLE FONTS-->
    <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />

    @RenderSection( "extrahead", required: false )

</head>
<body>
    @RenderBody()

    <!-- SCRIPTS -AT THE BOTTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS.  Must come first, EVERYTHING else depends on it. -->
    <script src="/static/js/jquery-1.10.2.js" onload="window.$ = window.jQuery = module.exports;"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="/static/js/bootstrap.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="/static/js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="/static/js/custom.js"></script>

    <!-- Page-specific scripts -->
    @RenderSection( "scripts", required: false )
</body>
</html>
