@using AssetManager.Api;

@{
    ViewData["Title"] = "About Asset Manager";
    Layout = "_Content";
    @model IModel;
}

<p><strong>API Version:</strong> @Model.Api.ApiVersion</p>
<p><strong>Website Version:</strong> @Model.Api.GetWebVersion()</p>

<p>
    Asset Manager is a free and open source project released under the <a href="https://www.boost.org/users/license.html">Boost Software License.</a>
</p>

<h3>Links:</h3>
<ul>
    <li><a href="https://github.com/xforever1313/AssetManager">View GitHub</a></li>
    <li><a href="/About/License">View License</a></li>
    <li><a href="/About/Credits">View Credits</a></li>
    <li><a href="/Bit">Built-In-Test</a></li>
</ul>
