/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */

/*==============================================
    MAIN BOX  STYLES    
    =============================================*/
.main-box {
    text-align:center;
    padding:20px;
    border-radius:5px;
    -moz-border-radius:5px ;
    -webkit-border-radius:5px;
    margin-bottom:40px;
}
.main-box a,.main-box a:hover {
    color:#fff;
    text-decoration:none;

}
.mb-dull {
    background-color:#8F8F2C;
}
.mb-red {
    background-color:#d36f2e;
}
.mb-pink {
    background-color:#FF2F71;
}
.main-box h5 {
    font-size:16px;
    font-weight:800;
    text-transform:uppercase;
}
/*==============================================
    CHAT WINDOW  STYLES    
    =============================================*/

.chat-widget-main {
    max-height:500px;
    padding:20px;
    overflow:auto;
}
.chat-widget-left:after {
    top: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: #6792d5;
    border-width: 15px;
    margin-left: -15px;
   
}

.chat-widget-left {
    width: 100%;
    height: auto;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    border: 1px solid #6792d5;
    font-size:14px;
   
}
.chat-widget-right:after {
    top: 100%;
    right: 10%;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: #d51111;
    border-width: 15px;
    margin-left: -15px;
}

.chat-widget-right {
    width: 100%;
    height: auto;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    border: 1px solid #d51111;
    font-size:14px;
    
}

.chat-widget-name-left {
    color: #6792d5;
    margin-top: 30px;
    margin-left: 60px;
    text-align:left;
    font-weight:900;
    padding-bottom:20px;
    font-size:16px;
}
.chat-widget-name-right {
    color: #d51111;
    margin-top: 30px;
    margin-right: 60px;
    font-size:16px;
    text-align:right;
    font-weight:900;
    padding-bottom:20px;
    

}

/*==============================================
        Reviews Styles
    =============================================*/
#reviews {
    min-height:180px;
    background-color:#64A2DB;
	padding:15px;
}
#reviews h4 {
color: #fff;
line-height: 30px;
font-size: 16px;
}
#reviews .user-img {
border: 2px solid #fff;
overflow: hidden;
border-radius: 50%;
display: inline-block;
}

#reviews .img-u {
   max-height: 90px;
max-width: 90px;
}

#reviews .c-black {
    color:#fff;
    font-style: italic;
font-size: 20px;
padding: 5px;
}

/*==============================================
        NOTICE BOX STYLES
    =============================================*/

.noti-box {
min-height: 100px;
color:#fff;
padding: 20px;
}
.noti-box .icon-box {
display: block;
float: left;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}
.bg-color-black {
background-color: #424242;
color: #fff;
}
.main-text {
font-size: 25px;
font-weight: 600;
}
.color-bottom-txt {
font-size: 16px;
line-height: 30px;
}
.panel-back {
background-color: #929292;
}

/*==========================================
   GALLERY/ PORTFOLIO STYLES
    =====================================================*/

#port-folio {
    padding-top: 10px; 
    padding-bottom: 100px; 
}
.portfolio-item {
    border:1px solid #000;
    margin:3px;
}
    .portfolio-item p {
        padding:12px;
        color:#fff;
        line-height:25px;
    }

.portfolio-item .overlay {
   
  background-color: #000;
  text-align: center;
  padding-bottom:30px;
  
}

/*==========================================
   GALLERY/ PORTFOLIO FILTER STYLES
    =====================================================*/
ul#filters {
	padding: 0px;
}
#filters {
	margin: 3% 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
	#filters li {
		display: -webkit-inline-box;
	}
	#filters li span {
		display: block;
		padding: 5px 4px;
		text-decoration: none;
		color: #d51111;
		cursor: pointer;
		font-size: 18px;
	}
 	#port-folio .portfolio-item {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		width: 100%;		
        opacity:.2;
		float:left;
		overflow:hidden;
	}
	
/*==========================================
   Shendrick.net specific:
    =====================================================*/

#main-title{
    font-size: 30px;
    color: #FFF;
    font-weight: 800;
    padding:0.5em;
}
    
/* Image (Taken from thenaterhood.com)*/
.image {
  border-radius: 0.35em;
  border: 0;
  display: inline-block;
  position: relative; }
  .image:before {
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    background: url("images/overlay.png");
    border-radius: 0.35em;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%; }
  .image.thumb {
    text-align: center; }
    .image.thumb:after {
      -moz-transition: opacity 0.2s ease-in-out;
      -webkit-transition: opacity 0.2s ease-in-out;
      -ms-transition: opacity 0.2s ease-in-out;
      transition: opacity 0.2s ease-in-out;
      border-radius: 0.35em;
      border: solid 3px rgba(255, 255, 255, 0.5);
      color: #fff;
      content: 'View';
      display: inline-block;
      font-size: 0.8em;
      font-weight: 400;
      left: 50%;
      line-height: 2.25em;
      margin: -1.25em 0 0 -3em;
      opacity: 0;
      padding: 0 1.5em;
      position: absolute;
      text-align: center;
      text-decoration: none;
      top: 50%;
      white-space: nowrap; }
    .image.thumb:hover:after {
      opacity: 1.0; }
    .image.thumb:hover:before {
      background: url("static/img/overlay.png"), url("static/img/overlay.png");
      opacity: 1.0; }
  .image img {
    border-radius: 0.35em;
    display: block; }
  .image.left {
    float: left;
    margin: 0 1.5em 1em 0;
    top: 0.25em; }
  .image.right {
    float: right;
    margin: 0 0 1em 1.5em;
    top: 0.25em; }
  .image.left, .image.right {
    max-width: 40%; }
    .image.left img, .image.right img {
      width: 100%; }
  .image.fit {
    display: block;
    margin: 0 0 2em 0;
    width: 100%; }
    .image.fit img {
      width: 100%; }
  .image.avatar {
    border-radius: 100%; }
    .image.avatar:before {
      display: none; }
    .image.avatar img {
      border-radius: 100%;
      width: 100%; }