@{
    ViewData["Title"] = "Assets";
    Layout = "_Content";
    @model AssetTypeInfoModel;
}

@if ( Model.AssetTypeInfo.Count == 0 )
{
    <div class="row">
        <p>There are no asset types defined.  <a href="/AddAssetType">Add one.</a></p>
    </div>
}
else
{
    for ( int i = 0; i < Model.AssetTypeInfo.Count; )
    {
        <div class="row">
            @for ( ; i < Model.AssetTypeInfo.Count; ++i )
            {
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="font-size:2em;">
                            <strong>@Model.AssetTypeInfo[i].Name</strong>
                        </div>
                        <div class="panel panel-body">
                            <ul>
                                <li><strong>Database: </strong>@Model.AssetTypeInfo[i].DatabaseName</li>
                                <li><strong>Number of Assets: </strong>@Model.AssetTypeInfo[i].NumberOfAssets</li>
                            </ul>
                            <div class="form-group">
                                <button class="btn btn-primary"><i class="fa fa-plus"></i> Add New</button>
                                <a href="/Assets/List/@Model.AssetTypeInfo[i].DatabaseId/@Model.AssetTypeInfo[i].TypeId" class="btn btn-success"><i class="fa fa-eye"></i> View All</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
}

@if ( Model.Errors.Count > 0 )
{
    <div class="alert alert-danger">
        Errors when querying for Asset Types:
        <ul>
            @foreach ( string error in Model.Errors )
            {
                <li>@error</li>
            }
        </ul>
    </div>
}