@using AssetManager.Api;
@using AssetManager.Api.Attributes;
@{
    @model AssetListModel;
    Layout = "_Content";
    ViewData["Title"] = Model.AssetName;

    IReadOnlyDictionary<int, Asset> assetList = Model.Assets;
}

@if ( assetList.Count == 0 )
{
    <p>No Assets to report...</p>
}
else
{
    List<int> keyList = new List<int>( assetList.Keys );
    @for ( int i = 0; i < keyList.Count; )
    {
        <div class="row">
            @for ( ; i < keyList.Count; ++i )
            {
                int key = keyList[i];
                Asset asset = assetList[key];

                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong style="font-size:2em;">@asset.Name</strong>
                        </div>
                        <div class="panel-body">
                            @foreach ( string attributeKey in asset.Keys )
                            {
                                AttributeTypes attributeType = asset.GetAttributeTypeOfKey( attributeKey );

                                switch ( attributeType )
                                {
                                    case AttributeTypes.StringAttribute:
                                    {
                                        StringAttribute strAttr = asset.CloneAttributeAsType<StringAttribute>( attributeKey );
                                        KeyValuePair<string, StringAttribute> kvPair = new KeyValuePair<string, StringAttribute>( attributeKey, strAttr );
                                        <partial name="~/Views/ReadOnlyAssetAttributes/_StringAttribute.cshtml" model="kvPair" />
                                        break;
                                    }

                                    case AttributeTypes.Integer:
                                    {
                                        IntegerAttribute intAttr = asset.CloneAttributeAsType<IntegerAttribute>( attributeKey );
                                        KeyValuePair<string, IntegerAttribute> kvPair = new KeyValuePair<string, IntegerAttribute>( attributeKey, intAttr );
                                        <partial name="~/Views/ReadOnlyAssetAttributes/_IntegerAttribute.cshtml" model="kvPair" />
                                        break;
                                    }

                                    case AttributeTypes.ImageUrl:
                                    {
                                        ImageUrlAttribute imgAttr = asset.CloneAttributeAsType<ImageUrlAttribute>( attributeKey );
                                        KeyValuePair<string, ImageUrlAttribute> kvPair = new KeyValuePair<string, ImageUrlAttribute>( attributeKey, imgAttr );
                                        <partial name="~/Views/ReadOnlyAssetAttributes/_ImageUrlAttribute.cshtml", model="kvPair"/>
                                        break;
                                    }

                                    // Skip the AssetName type, as that is already defined in the title.
                                }
                            }
                        </div>
                        <div class="panel-footer">
                            <form style="float:left;margin-right:1em;" action="/Assets/Edit/@asset.DatabaseId/@Model.AssetTypeID/@key">
                                <button type="submit" class="btn btn-success" formmethod="get"><i class="fa fa-edit"></i> Edit</button>
                            </form>
                            <form style="float:right;" action="/Assets/Delete/@asset.DatabaseId/@Model.AssetTypeID/@key" method="post">
                                <button type="submit" class="btn btn-danger" formmethod="post"><i class="fa fa-trash"></i> Delete</button>
                            </form>
                            <div style="clear: both;"></div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
}

@section headerRight {
    <div class="form-group">
        <a href="/Assets/Add/@Model.DatabaseId/@Model.AssetTypeID" class="btn btn-primary">
            <i class="fa fa-plus"></i> Add New
        </a>
    </div>
}