@{
    @using AssetManager.Api.Attributes;
    @using SethCS.Extensions;
    @model KeyValuePair<string, StringAttribute>;
}

<div>
    <strong><i class="fa fa-caret-right"></i> @Model.Key: </strong> @Model.Value.Value.NormalizeWhiteSpace()
</div>
