@{
    ViewData["Title"] = "Welcome to Asset Manager!";
    Layout = "_Content";
    @model IModel;
}

<div class="row">
    <div class="col-md-12">
        <p>
            Asset Manager is a way to keep track of assets.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        Currently, Asset Manager is connected for the following databases:
        <ul>
            @foreach ( string databaseName in Model.Api.DataBase.DatabaseNames.Values )
            {
                <li>@databaseName</li>
            }
        </ul>
    </div>
</div>
